/*https://www.fontsquirrel.com/fonts/computer-modern*/
@font-face {
    font-family: CMU Serif;
    src: url(fonts/cmunrm.ttf);
}

/*https://fonts.google.com/specimen/Inconsolata*/
@font-face {
    font-family: Inconsolata;
    src: url(fonts/Inconsolata.ttf);
}

body{
    color:#DDD;
    background-color: #334;
    font-family: CMU Serif;
    font-size:18px;
    max-width: 100%;
    overflow-x: hidden;
}

#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #223;
    color: #AAA;
    font-size: 28px;
    padding:10px;
    text-align:left;
}
#navbar a:link {
    color: #BBB;
    text-decoration: none;
}
#navbar a:visited {
    color: #BBB;
    text-decoration: none;
}
#navbar a:hover {
    color: #FFF;
    text-decoration: none;
}
#navbar a:active {
    color: #FFF;
    text-decoration: underline;
}

#content{
    margin:50px auto;
    max-width:700px;
    line-height:1.6;
    font-size:18px;
    padding:10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption{
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.title{
    font-size: 55px;
    text-align: center;
    padding:20px;
}

.subtitle{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    padding:10px;
}

.text{
    font-size:18px;
    color:#DDD;
    text-align: left;
}

blockquote pre{
    font-family: CMU Serif;
    font-style: italic;
}

pre code{
    font-family: Inconsolata;
    font-size: 20px;
    color:#CCC;
    background-color: #223;
    border: 2px solid #557;
    display: block; 
    padding: 20px;
    line-height:1.2
}

a:link {
    color: #6DF;
    text-decoration: none;
}
a:visited {
    color: #C8F;
    text-decoration: none;
}
a:hover {
    color: #FFF;
    text-decoration: none;
}
a:active {
    color: #FFF;
    text-decoration: underline;
}